.forma {
    background:#A7BDF2;
    width:50%;
    height:50%;
    margin-right: 25%;
    margin-left:25%;
    align-content: center;
    margin-top:100px;
    padding-top:50px;
    border:3px solid;
}

.form-field{
    display:block;
    width:300px;
    margin:auto;
    padding:10px;
}

.dugme{
    width:200px;
    height:40px;
    margin:auto;
    margin-top:10px;
    display:block;  
}